body{


    font-family: 'Capriola', sans-serif;
}
h1{
 font-size: 30px;
    color: rgb(163, 102, 163);
}
h2{

    font-size: 30px;
    color:rgb(165, 173, 46);
}
h3{

    font-size: 20px;
    color:darkgoldenrod;
}
.flexible-container
{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width:40%;
    padding-left: 5%;
    padding-right: 8%;
    
}
.half-width img{
    width:35%;
}
.link-button{
    text-decoration: none;
    background-color: cornsilk;
    padding: 5px;
    color:coral;
    font-weight: 700;
    border-radius:5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right ;
}
.developer-item{
    width:40%;
    box-shadow: 10px 10px 40px blue;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow:  10px 10px orange;
    margin-right: 5%;
    margin-left: 5%;
    border:10px solid rgb(30, 144, 189)  ;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
footer p{
    text-align:center ;
    color:orangered ;
}